# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Driver object files
**/*.ko
**/*.cmd
**/.tmp_versions/
**/*.mk
**/*.mod.*
**/*.mod
**/*.order
**/*.o.*
**/*.symvers
test/bin/*
!lib/.keep
!test/bin/.keep
matmul_decoupled
bias_op
memcpy
pim_mem
test/src/elewise/elewise
test/src/matmul/matmul
test/src/gemm/gemm
linux-*
MOK.*
*.bak
